.wrapper__game_field {
  display: grid;
  margin: 50px auto;
  border: 2px black solid;
  width: 500px;
  height: 500px;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.wrapper__game_field div {
  border: 1px solid black;
}

.circle {
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  height: 80%;
  width: 80%;
}

.playing_square {
  padding-top: 10px;
}

.cross {
  position: absolute;
  margin-top: -29px;
}

.cross:before, .cross:after {
  position: absolute;
  content: ' ';
  height: 200px;
  width: 2px;
  background-color: red;
}
.cross:before {
  transform: rotate(45deg);
}
.cross:after {
  transform: rotate(-45deg);
}
